<h3 class="h-3-spacing center white-text">all of your wonderful students</h3>
<div class="row">
  <div class="col s6 offset-s2">
    <%= link_to [:new, :teacher, :student],
                class: "btn-floating waves-effect waves-light green" do %>
      <i class="material-icons">add</i>
    <% end %>
    <span class="button-text white-text">Add New Student</span>
  </div>
</div>
<% current_user.students.each do | student | %>
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card-panel hoverable blue-grey darken-4">
        <span class="">
          <blockquote class="">
            <h5 class="white-text"><%= student.name %></h5>
          </blockquote>
          <%= link_to teacher_student_homeworks_path(student) do %>
            view student 
            <i class="material-icons right">send</i>
          <% end %>
        </span>
      </div>
    </div>
  </div>
<% end %>
