<h1>This is where a student will see the details of a specific weeks homeowork</h1>

<ul>
  <li><%= @homework.title %></li>
  <li><%= @homework.note %></li>
  <hr/>
  <% @homework.tasks.each do |task| %>
    <li><%= task.item %></li>
  <% end %>
</ul>