<h1>This is where a teacher can see all of a students homework</h1>

<% @teacher.students.map do |student| %>
  <li><a href="/teacher/students/<%= student.id %>/new_homework"><%= student.name %></a></li>
<% end %>
