<h1>where teachers will create new homework</h1>
<form class="" action="/homework/new" method="post">
  <label>Title</label>
  <input type="text" name="title" value="">
  <label>Notes</label>
  <input type="text" name="note" value="">
  <input type="hidden" name="user_id" value="<%= @student.id %>">
  <input type="submit" value="submit">
</form>
<br>
<form class="" action="/homework/<%= Homework.find(1).id %>/task" method="post">
  <label>New task</label>
  <input type="text" name="item" value="">
  <label>Link</label>
  <input type="text" name="url" value="">
  <input type="submit" value="submit">
</form>
