<p id="notice"><%= notice %></p>

<h1>Lessons</h1>
<div class="row">
  <div class="col s12 white-text">
    <div class="card-panel hoverable">
      <div class="" id="calendar"></div>
    </div>
  </div>
</div>
<script>
debugger
console.log($('window').width())

$(document).on('turbolinks:load', function(){

  $('#calendar').fullCalendar({
    defaultView: $(window).width() > 400 ? 'agendaWeek' : 'agendaDay',
    height: 'auto',
    minTime: "12:00:00",
    allDaySlot: false,
    events: {
      url: '/parent/lessons.json',
      textColor: 'white'
    },
    theme: true,
    timeFormat: 'h(:mm)'
  });


  var nextPrev = {
    "border": "none",
    "border-radius": "3px",
    "margin-right": "0.5em",
    "background-color": "#A9ABAE"
  }

  var today = {
    "border": "none",
    "border-radius": "3px",
    "margin-right": "0.5em",
    "background-color": "#4385D8"
  }

  $('.fc-button-group > .ui-corner-left').text('< prev').css(nextPrev)
  $('.fc-button-group > .ui-corner-right').html('next >').css(nextPrev)

  $('.fc-today-button').css(today)
});

</script>
