<h1>New Lesson</h1>
<div class="row">
  <div class="col s10 offset-s1 white-text">
    <div class="card-panel hoverable">
      <%= render 'form', lesson: @lesson %>
    </div>
  </div>
</div>

<%= link_to 'Back', teacher_lessons_path %>
