<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h5>Welcome <%= @user.name %> to MUSE!</h5>
    <p>
      Some really great information about the app!
      check us out!
    </p>


  </body>
</html>
