<!-- begin stripe form -->
<form action="/users/:user_id/pay" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_Ns6tz2pvq3SLoaNI2pVZWh3A"
    data-amount="500"
    data-name="Muse Subscription"
    data-description="Monthly"
    data-locale="auto"
    data-currency="cad">
  </script>
</form>
<!-- end stripe form -->