<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modalpay">Pay</a>

<!-- Modal Structure -->
<div id="modalpay" class="modal">
  <div class="modal-content brand-bg-dark">
    <h4 class="center white-text">Pay <%= current_user.children.first.teacher.name %> $<%= current_user.children.first.teacher.rate %> for the lesson</h4>
    <div class="row button-spacing">
    <%= form_tag users_charge_path, class:"col s10 offset-s1 white-text", :id => 'payment-form' do %>
      <div class="row">
        <div class="row">
          <span class="payment-errors"></span>
          <div class="input-field col m6 s12">
            <input type="text" size="20" data-stripe="number">
            <label>
              Card Number
            </label>
          </div>
          <div class="input-field col m3 s6">
            <input class="" type="text" data-stripe="exp_month">
            <label>
              Expiration (Month)
            </label>
          </div>
          <div class="input-field col m3 s6">
            <div class="col m2"></div>
            <input class="" type="text" data-stripe="exp_year">
            <label>
              Expiration (Year)
            </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col m4 s6">
            <input type="text" data-stripe="cvc">
            <label>
              CVC
            </label>
          </div>
          <div class="input-field col m8 s6">
            <input type="text" data-stripe="address_zip">
            <label>
              Billing Zip
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="center">
          <input type="submit" class="submit modal-close btn brand-bg-green" value="Submit Payment">
        </div>
      </div>
    <% end %>
    </div>

    <script type="text/javascript">
      $(document).ready(function(){
        Stripe.setPublishableKey('pk_test_Ns6tz2pvq3SLoaNI2pVZWh3A');

        $('#payment-form').on('submit', function(ev){
          ev.preventDefault();

          $(this).find('.submit').prop('disabled', false);

          Stripe.card.createToken($(this), stripeResponseHandler);
        })

        function stripeResponseHandler(status, response) {
          var $form = $('#payment-form');

          if (response.error) {

            $.forms.find('.payment-errors').text(response.error.message);
            $form.find('.submit').prop('disabled', false);

          } else {

            var token = response.id;

            $form.append($('<input type="hidden" name="stripeToken">').val(token));

            $form.get(0).submit();

            Materialize.toast('Payment was successful!', 4000)
          }
        };
      });
    </script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  </div>
</div>
