<h3 class="center h-3-spacing white-text">
  Login<br>
  <span class="title-comment">(Good news awaits)</span>
</h3>

<% if session["error"] %>
  <!-- <div class="text-white">
    <strong>We couldn't authenticate you!</strong>
    <p><%= session["error"] %></p>
  </div> -->
  <div class="row">
    <div class=" col s10 offset-s1">
      <div class="card-panel hoverable thick">
        <div class="white-text">
          <h5>We couldn't authenticate you!</h5>
          <p class="errors-list"><%= session["error"] %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row white-text">
  <div class="col s10 offset-s1 card-bottom">
    <div class="card-panel hoverable">
      <form class="card-padding" method="post" action="/login">
        <div>
          <label>Username:</label>
          <input type="text" name="username">
        </div>
        <div>
          <label>Password:</label>
          <input type="password" name="password">
        </div>
        <div class="center button-spacing">
          <button class="btn waves-effect waves-light blue darken-2" type="submit" name="action" value="Submit">
            Login
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
      <div class="white-text thin center">
        <p>
          If you are not currently a member, feel free to <a href="/signup">Sign-up!</a>
        </p>
      </div>
    </div>
  </div>
</div>
