<h1>Where a teacher can signup</h1>

<% if @teacher.errors.any? %>
  <div>
    <strong>Some issues with your entry, please fix them:</strong>
    <ul>
      <% @teacher.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action="/signup">
  <div>
    <label>Full Name:</label>
    <input type="text" name="name" value="<%= @teacher.name %>">
  </div>
  <div>
    <label>Username:</label>
    <input type="text" name="username" value="<%= @teacher.username %>">
  </div>
  <div>
    <label>Password:</label>
    <input type="text" name="password" value="<%= @teacher.password %>">
  </div>
  <div>
    <input type="submit" value="Create" >
  </div>
</form>